/* html {
  background-color: yellow;
} */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#cardFormat {
  margin: 50px;
  padding: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 5px 0px 10px;
}

/* #CurrencySelectors {
 
} */

#theExchangeRate {
  display: none;
}

#dollarText {
  margin: 0px;
  padding-top: 40px;
}

#save-btn {
  margin-left: 10px;
}
