/* html {
  background-color: yellow;
} */

#header {
  font-family: "Gugi", cursive;
}

h3 {
  font-family: "Mukta", sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#cardFormat {
  margin: 50px;
  padding: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 5px 0px 10px;
}

#theExchangeRate {
  display: none;
}

#dollarText {
  margin: 0px;
  padding-top: 40px;
}

#save-btn {
  margin-left: 10px;
}

.seperateIndex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.card {
  width: 25%;
  margin: 20px;

  box-shadow: 5px 0px 10px;
}
